<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="icon-btn" aria-label="Example icon-button with menu icon">
      <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <span>Coading Cheatsheet</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="icon-btn" aria-label="Example icon-button with heart icon">
      <mat-icon class="white-icon">favorite</mat-icon>
    </button>
    <button mat-icon-button class="icon-btn" aria-label="Example icon-button with share icon">
      <mat-icon class="white-icon">share</mat-icon>
    </button>
  </mat-toolbar>
</p>
